body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    padding-bottom: 60px;
    background: linear-gradient(to bottom, #c2e5c5 0%, #a3885b 100%);
    transition: background 0.3s ease; 
}

header {
    background-color: #c2e5c5;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #333; 
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 80px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: #283618;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border: 2px solid black;
    padding: 5px 10px;
    background-color: #4D934D;
    border-radius: 8px;
}

nav ul li a:hover {
    background-color: #b9feb9;
    border-color: #007BFF;
    color: #000000;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
    border-bottom: 2px solid #333;
}

#definition p {
    text-align: justify;
}

#calculator {
    text-align: center;
}

#entry {
    width: 80%;
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 10px;
}

#result {
    font-size: 1.2em;
    margin: 10px 0;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#buttons button {
    width: calc(20% - 10px);
    height: 40px;
    margin: 5px;
    font-size: 1em;
    background-color: #c2e5c5;
    border: none;
    cursor: pointer;
}

#buttons button.clear {
    background-color: #4d934d;
    width: calc(50% - 10px);
}

#buttons button.calculate {
    background-color: #4d934d;
    width: calc(50% - 10px);
}

#buttons button:hover {
    background-color: #b9feb9;
}

footer {
    background-color: #c2e5c5;
    color: #283618;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

#Follow-principles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Follow-principles h2 {
    width: 100%;
    text-align: center;
}

#Follow-principles img {
    align-self: center;
    max-width: 100%;
    height: auto;
}

footer p button {
    background-color: #4D934D;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

footer p button:hover {
    background-color: #b9feb9;
    color: #000000;
}

.principles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.principle {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.principle h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #4d934d;
}

.principle p {
    font-size: 1.2em;
    line-height: 1.6;
}

.principle ul {
    text-align: left;
    margin-top: 10px;
    padding-left: 20px;
}

.principle ul li {
    list-style-type: disc;
    font-size: 1.2em; 
    margin-left: 10px; 
}
